/.build*.log
/x86_64/
/*.src.rpm
/qemu-*.tar.bz2
/qemu-2.9.0-rc0.tar.xz
/qemu-2.9.0-rc1.tar.xz
/qemu-2.9.0-rc2.tar.xz
/qemu-2.9.0-rc3.tar.xz
/qemu-2.9.0-rc4.tar.xz
/qemu-2.9.0.tar.xz
/qemu-2.10.0-rc1.tar.xz
/qemu-2.10.0-rc3.tar.xz
/qemu-2.10.0-rc4.tar.xz
/qemu-2.10.0.tar.xz
/qemu-2.10.1.tar.xz
/qemu-2.11.0-rc1.tar.xz
/qemu-2.11.0-rc3.tar.xz
/qemu-2.11.0.tar.xz
/qemu-2.11.1.tar.xz
/qemu-2.12.0-rc0.tar.xz
/qemu-2.12.0-rc1.tar.xz
/qemu-2.12.0-rc2.tar.xz
/qemu-2.12.0-rc3.tar.xz
/qemu-2.12.0.tar.xz
/qemu-3.0.0-rc3.tar.xz
/qemu-3.0.0.tar.xz
/qemu-3.1.0-rc1.tar.xz
/qemu-3.1.0.tar.xz
/qemu-4.0.0-rc0.tar.xz
/qemu-4.0.0-rc1.tar.xz
/qemu-4.0.0-rc2.tar.xz
/qemu-4.0.0-rc3.tar.xz
/qemu-4.0.0.tar.xz
